{{ define "main" }}
  <main id="main" class="home">
    <p>Teresa Clarke FMAAT. I have been member of AAT since 1998 and a tutor since 2012. I am a fully
qualified tutor and assessor. I have taught in classrooms and online, in groups and one-to-one, to
students of all ages and from a variety of backgrounds. I teach via Zoom now on a one-to-one basis
and charge £27 for a one-hour lesson and £50 for a two-hour lesson.</p>
    <ul class="withStyle">
      <li>AAT Level 1, 2 and 3 Tutoring </li>
      <li>A Level Accounting</li>
      <li>ICB Bookkeeping</li>
    </ul>
    <hr />
    <div class="socials">
      <div class="social">
        <img src="{{ "images/mail.svg" | relURL}}" />
        <span>teresaclarketutor@gmail.com</span>
      </div>
      <a href="https://www.facebook.com/TeresaClarkeAccountancyTutor"class="social">
        <img src="{{ "images/facebook.svg" | relURL}}" />
        Teresa Clarke Accountancy Tutor
      </a>
    </div>
  </main>
{{ end }}