{{ define "main" }}
  <main id="main" class="home">
    <p>I am a fully qualified AAT tutor and have been teaching for 9+ years. I charge £27 for a 1 hour private lesson or £50 for a 2 hour lesson.</p>
    <ul class="withStyle">
      <li>AAT Level 1, 2 and 3 Tutoring </li>
      <li>One-to-one tuition via Zoom. </li>
    </ul>
    <hr />
    <div class="socials">
      <div class="social">
        <img src="{{ "images/mail.svg" | relURL}}" />
        <span>teresaclarketutor@gmail.com</span>
      </div>
      <a href="https://www.facebook.com/TeresaClarkeAccountancyTutor"class="social">
        <img src="{{ "images/facebook.svg" | relURL}}" />
        Teresa Clarke Accountancy Tutor
      </a>
    </div>
  </main>
{{ end }}